.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

img {
    max-height: 400px;
    max-width: 100%;
    margin-bottom: 30px;
}

#description {
    margin-top: 30px;
    width: 100%;
    height: 80px;
    resize: horizontal;
}

#slider {
    width: 10%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#slider span {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

#slider span:first-child {
    margin-bottom: auto;
}

#slider span:last-child {
    margin-top: auto;
}

#slider input[type=range] {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ddd;
    outline: none;
    height: 100%;
    -webkit-appearance: none;
}

#slider input[type=range]:focus {
    outline: none;
}

#slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    background-color: #333;
}

#slider input[type=range]::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background-color: #333;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}